.world-grid {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-2d {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.tile-img {
  width: 64px;
  height: 64px;
  object-fit: contain;
  margin: 2px;
}

.tile-img.user-selected {
  border: 3px solid #34495e; /* Blue for user */
}

.tile-img.computer-selected {
  border: 3px solid #ae4b43; /* Red for computer */
}

.toggle-matrix-button {
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  cursor: pointer;
  background: #34495e;
  color: white;
  border: none;
  border-radius: 8px;
}

.toggle-matrix-button:hover {
  background: #2c3e50;
}